# Virtual environments
venv/
.venv/

# Environment files
.env
config/.env

# Python
__pycache__/
*.pyc

# Test artifacts
screenshots/
videos/
traces/
x
# Reports
reports/logs/
reports/screenshots/
reports/videos/
reports/traces/
reports/allure-results/

# IDE
.idea/